.clip-path-trying{
    /* min-w-[220px] min-h-[150px] */
    width: 220px;
    height: 150px;
    /* clip-path: path("M 20,0 L 200,0 L 220,20  L 220, 90 L 200,110 L 150,110 L 140, 120 L 140,130 L 140,140 130,150 L 20,150 L 0,130 L 0,20  Z"); */
    clip-path: path("M 20,0 L 200,0 A 20,20 0,0,1 220,20  L 220, 90 A 20,20 0,0,1 200,110 L 150,110 A 20,20 0,0,0 140, 120 L 140,130 L 140,140 A 20,20 0,0,1 130,150 L 20,150 A 20,20 0,0,1 0,130 L 0,20 A 20,20 0,0,1 20,0   Z");
}